footer {
  background: $primary_color;
  margin-top: 40px;
  width: 100%;
  .footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    gap: 5px;
    h1 {
      font-size: 14px;
      font-weight: 400;
      color: $white_color;
      a {
        color: $secondary_color;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
.footer-cart {
  margin-top: 10px;
}
