body {
  font-family: "Montserrat", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0 !important;
}

ul {
  li {
    list-style: none;
  }
}

button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

.build-bowl-btn {
  color: $white_color;
  font-size: 20px;
  padding: 16px 20px;
  font-weight: 600;
  background: $secondary_color;
  border-radius: 38px;
  width: fit-content;
  border: 2px solid $secondary_color;
  transition: all 0.2s ease-in;
  &:hover {
    border: 2px solid $secondary_color;
    background: none;
    color: $secondary_color;
  }
}
.build-bowl-btn-2 {
  color: $secondary_color;
  font-size: 20px;
  padding: 16px 20px;
  font-weight: 600;
  background: none;
  border: 2px solid $secondary_color;
  border-radius: 38px;
  width: fit-content;
  transition: all 0.2s ease-in;
  &:hover {
    border: 2px solid $secondary_color;
    background: $secondary_color;
    color: $white_color;
  }
}
