.home-container {
  //---------   Banner

  .banner {
    position: relative;
    .home-header {
      right: 0;
      left: 0;
      top: 25px;
      position: absolute;
      z-index: 10;
      .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .cart-btn {
          display: flex;
          position: relative;
          margin-top: 10px;
          .count {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $primary_color;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            position: absolute;
            right: -10px;
            top: -8px;
            border: 2px solid $secondary_color;
            h1 {
              color: $white_color;
              font-size: 14px;
            }
          }
        }
      }
    }

    .banner-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      .content {
        width: 100%;
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        z-index: 40;
        // top: 330px;
        .content-inner {
          display: flex;
          flex-direction: column;
          width: 450px;
          max-width: 100%;
          // left: 160px;
          left: 0;
          margin-bottom: 50px;
          z-index: 20;

          h1 {
            font-size: 35px;
            font-weight: 600;
            color: $primary_color;
          }
          h2 {
            color: $secondary_color;
            font-size: 32px;
            font-weight: 500;
          }
          button {
            margin-top: 35px;
          }
        }
      }
      .banner-img-main {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 100%;
        .banner-img {
          position: absolute;
          z-index: 10;
          top: 100px;
          right: 65px;
          //   padding: 20px;
          border-radius: 50%;
          border: 7px solid $secondary_color;
        }
        .banner-img-bg-small {
          display: none;
        }
        // .banner-img-bg {
        //   margin-right: 0;
        // }
      }
    }

    .banner-img-bg-light {
      position: absolute;
      top: 200px;
    }
  }

  //----------  Banner

  //----------  About

  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .about-inner {
      display: flex;
      align-items: center;
      margin: 0 auto;
      justify-content: space-between;
      z-index: 60;
      .about-img,
      .content {
        width: calc(100% / 2 - 10px);
      }

      .about-img {
        // margin-left: -140px;
        z-index: 20;
        img {
          width: -webkit-fill-available;
        }
        .about-img2 {
          display: none;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        // padding: 0 40px;
        h1 {
          font-size: 38px;
          font-weight: 500;
          color: $primary_color;
          span {
            color: $secondary_color;
          }
        }
        p {
          color: $text_color;
          font-weight: 500;
          line-height: 28px;
          font-size: 16px;
        }
      }
    }
  }

  //----------  About

  //----------  Cards

  .cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    .cards-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px;
      .benefit-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 220px;
        max-width: 350px;
        min-height: 250px;
        max-height: 250px;
        padding: 40px 30px 0 30px;
        border: 2px solid $border_color;
        border-radius: 40px;
        gap: 30px;
        transition: all ease-in-out 0.4s;
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
        .img-wrapper {
          background: $secondary_light;
          padding: 14px;
          border-radius: 50%;
        }
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          h1 {
            font-size: 18px;
            color: $primary_color;
            text-align: center;
          }
          p {
            color: $text_color;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.06em;
          }
        }
        &:hover {
          transform: translate(0, -5px);
          transition: all ease-in-out 0.4s;
          border: 2px solid $white_color;
          box-shadow: 0px 7px 31px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  //----------  Cards

  //----------  CallOut Container

  .call-out-container {
    position: relative;
    img {
      position: absolute;
      right: 0;
      top: -150px;
      z-index: 20;
    }
    .call-out-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 180px;
      background: $secondary_light;
      border-radius: 40px;
      padding: 60px 0;
      gap: 40px;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        h1 {
          text-transform: uppercase;
          text-align: center;
          color: $secondary_color;
          font-size: 30px;
          font-weight: 600;
        }
        h2 {
          text-transform: uppercase;
          text-align: center;
          font-size: 25px;
          color: $primary_color;
          font-weight: 600;
        }
      }
    }
  }

  //----------  CallOut Container

  section,
  .testimonial-inner {
    > .head {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      h3 {
        color: $secondary_color;
        font-size: 14px;
        font-weight: 500;
      }
      h1 {
        color: $primary_color;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}
