///////////// Home

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 850px !important;
  }
}

@media only screen and (max-width: 890px) {
  .container {
    max-width: 750px !important;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 650px !important;
  }
}

@media only screen and (max-width: 660px) {
  .container {
    max-width: 600px !important;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media only screen and (max-width: 1310px) {
  .home-container {
    .banner {
      .banner-content {
        .banner-img-main {
          .banner-img {
            width: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .home-container {
    .banner {
      background: url(../media/svg/home/home_banner_bg-small-1200.svg);

      background-repeat: no-repeat !important;
      background-position: top right !important;
      display: flex;
      flex-direction: column;
      gap: 40px;
      height: 800px;
      justify-content: center;
      .banner-content {
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        .banner-img-main {
          .banner-img {
            width: 50%;
            position: unset;
          }
          .banner-img-bg {
            display: none;
          }
          .banner-img-bg-small {
            display: unset;
          }
        }
      }
      // .banner-img-bg-light {
      //   display: none;
      // }
    }
  }

  .testimonial-container {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .home-container {
    .banner {
      background: url(../media/svg/home/home_banner_bg-small-1050.svg);
      height: 700px;
      .banner-content {
        .content {
          .content-inner {
            width: 400px !important;
          }
          h1 {
            font-size: 30px !important;
          }
          h2 {
            font-size: 26px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .about {
    .about-inner {
      // max-width: 830px;
      .about-img,
      .content {
        width: calc(100% / 2 - 10px);
      }
      .content {
        h1 {
          font-size: 32px !important;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .cards {
    max-width: 890px !important;
  }
  .call-out-container {
    .call-out-inner {
      // max-width: 890px;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 900px) {
  .home-container {
    .banner {
      background: url(../media/svg/home/home_banner_bg-small-900.svg);
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-fixed {
    .header-inner {
      nav {
        .build-bowl-btn {
          display: none;
        }
        .build-bowl-btn-small {
          padding: 12px;
          display: flex;
          img {
            width: 10px;
          }
          &:hover {
            border: 2px solid $white_color;
          }
        }
      }
    }
  }

  .home-container {
    .banner {
      background: url(../media/svg/home/home_banner_bg-small-768.svg);
      .home-header {
        .header-inner {
          a {
            img {
              width: 120px;
            }
          }
        }
      }

      .banner-content {
        flex-direction: column;
        align-items: center;
        margin-top: 400px;
        gap: 40px;
        .content {
          position: unset;
          display: flex;
          justify-content: center;

          .content-inner {
            margin-bottom: 0;
            width: 450px !important;
          }
          h1 {
            font-size: 30px !important;
          }
          h2 {
            font-size: 26px !important;
          }
        }
        .banner-img-main {
          justify-content: center;
          .banner-img {
            border: none;
            width: 60%;
          }
        }
      }
    }
  }

  .about {
    margin-top: 260px;
    .about-inner {
      flex-direction: column;
      // padding: 0 50px;
      .about-img1 {
        display: none;
      }
      .about-img2 {
        display: unset !important;
      }
      .about-img,
      .content {
        width: 100% !important;
      }
      .about-img {
        display: flex;
        justify-content: center;
        margin: 20px 0;
      }
      .about-img2 {
        width: 80% !important;
      }
      .content {
        align-items: center;
        h1,
        p {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .home-container {
    .banner {
      background: url(../media/svg/home/home_banner_bg-small-660.svg);
    }
  }

  .about {
    .about-inner {
      .content {
        h1 {
          font-size: 28px !important;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .home-container {
    .banner {
      background: url(../media/svg/home/home_banner_bg-small-576.svg);
      .home-header {
        .header-inner {
          a {
            img {
              width: 120px;
            }
          }
        }
      }

      .banner-content {
        margin-top: unset;
        .content {
          .content-inner {
            margin-bottom: 0;
            width: 400px !important;
            align-items: flex-start;
          }
          h1 {
            text-align: left;
            font-size: 30px !important;
          }
          h2 {
            text-align: left;
            font-size: 26px !important;
          }
        }
        .banner-img-main {
          margin-top: unset;
          .banner-img {
            display: none;
          }
        }
      }
      .banner-img-bg-light {
        width: 70%;
      }
    }
  }

  .about {
    margin-top: -160px;
  }

  .call-out-container {
    padding: 0 12px !important;
    .call-out-inner {
      .content {
        h1 {
          font-size: 24px !important;
        }
        h2 {
          font-size: 18px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .home-container {
    .banner {
      background: url(../media/svg/home/home_banner_bg-small-530.svg);
    }
  }
}

@media only screen and (max-width: 450px) {
  .home-container {
    .banner {
      background: url(../media/svg/home/home_banner_bg-small-450.svg);
    }
  }
}

@media only screen and (max-width: 420px) {
  .home-container {
    .banner {
      .banner-content {
        .content {
          .content-inner {
            width: 360px !important;
            h1 {
              font-size: 26px !important;
            }
            h2 {
              font-size: 24px !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .home-container {
    .banner {
      .banner-content {
        .content {
          .content-inner {
            width: 330px !important;
            h1 {
              font-size: 23px !important;
            }
            h2 {
              font-size: 21px !important;
            }
          }
        }
      }
    }
  }
}

///////////// Cart

@media only screen and (max-width: 992px) {
  #header-cart-fixed {
    .header-inner {
      max-width: 100%;
    }
  }
  .cart-container {
    .page-content {
      max-width: 100%;
      margin: 0 auto;
      .cart-body {
        margin: auto;
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #header-cart-fixed {
    .header-inner {
      max-width: 100%;
    }
  }
  .cart-container {
    .page-content {
      max-width: 740px;
      margin: 0 auto;
      .cart-body {
        flex-direction: column;
        margin: auto;
        max-width: 740px;
        row-gap: 20px;
        .order-details {
          flex-direction: row;
          padding: 0;
          .delivery-details,
          .checkout-details {
            width: calc(100% / 2);
          }
          .checkout-details {
            height: inherit;

            .main {
              justify-content: space-between;
              height: 100%;
              .checkout-btn {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  #header-cart-fixed {
    .header-inner {
      .build-bowl-btn {
        font-size: 11px;
      }
    }
  }
  .cart-container {
    .page-content {
      .cart-body {
        .cart-summary {
          .cart-wrapper {
            .cart-table {
              min-width: 600px;
            }
          }
        }
        .order-details {
          flex-direction: column;
          .delivery-details,
          .checkout-details {
            width: 100%;
            .main {
              .checkout-btn {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-inner {
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  #header-cart-fixed {
    .header-inner {
      .back-page {
        h1 {
          display: none;
        }
      }
      .build-bowl-btn {
        display: none;
      }
      .build-bowl-btn-small {
        padding: 12px;
        display: flex;
        img {
          width: 10px;
        }
        &:hover {
          border: 2px solid $white_color;
        }
      }
    }
  }
}

///////////// Order Modal - Cart

@media only screen and (max-width: 576px) {
  #order-modal {
    .modal-dialog {
      margin: 0;
      left: 0;
      height: 87%;
      bottom: 0;

      .modal-content {
        border-radius: 40px 40px 0 0;
        width: 100%;
        .modal-body {
          overflow: scroll;
        }
      }
    }
  }
  .order-modal.fade {
    .modal-dialog {
      transform: translate(0, 752px) !important;
    }
  }
  .order-modal.show {
    .modal-dialog {
      transform: none !important;
    }
  }
}
