//----------  Testimonials

.testimonial-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-top: 140px;
  .testimonial_bg {
    position: absolute;
    left: 0;
    top: -70px;
  }
  .testimonial-inner {
    .testimonial-wrapper {
      display: flex;
      align-items: center;
      padding-left: 210px;
      margin-top: 50px;
      justify-content: space-between;
      .wrapper-inner {
        width: 50%;
        .testimonial {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
          gap: 20px;
          cursor: grab;
          .head {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .testimonial-pic {
              display: inline-block;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              overflow: hidden;
              img {
                width: 100%;
                height: auto;
                border-radius: 50%;
              }
            }
          }

          .details {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .description {
              font-size: 15px;
              color: #333;
              line-height: 30px;
              border-radius: 25px;
            }
            h2 {
              font-size: 14px;
              font-weight: 500;
              color: $primary_color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .testimonial {
    padding: 20px 15px 40px;
  }
  .testimonial .description {
    padding: 0 5px 20px;
  }
}

//----------  Testimonials

.owl-theme .owl-controls {
  margin-top: 0;
}
.owl-theme .owl-controls .owl-page span {
  width: 12px !important;
  height: 6px !important;
  border-radius: 50%;
  background: $primary_color !important;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}
// .owl-theme .owl-controls .owl-page.active span {
//   background: $primary_color;
// }
