body {
  font-family: "Montserrat", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0 !important;
}

ul li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

.build-bowl-btn {
  color: #ffff;
  font-size: 20px;
  padding: 16px 20px;
  font-weight: 600;
  background: #ee8d31;
  border-radius: 38px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #ee8d31;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.build-bowl-btn:hover {
  border: 2px solid #ee8d31;
  background: none;
  color: #ee8d31;
}

.build-bowl-btn-2 {
  color: #ee8d31;
  font-size: 20px;
  padding: 16px 20px;
  font-weight: 600;
  background: none;
  border: 2px solid #ee8d31;
  border-radius: 38px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.build-bowl-btn-2:hover {
  border: 2px solid #ee8d31;
  background: #ee8d31;
  color: #ffff;
}

.order-modal .modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
}

.order-modal .modal-dialog .modal-content {
  height: 100%;
  width: 367px;
  padding: 30px;
  border-radius: 40px 0px 0px 40px;
}

.order-modal .modal-dialog .modal-content .modal-header {
  padding: 0;
  border: none;
}

.order-modal .modal-dialog .modal-content .modal-header .btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  opacity: 1;
  background: url(../media/svg/modal/close_btn.svg);
  background-repeat: no-repeat;
  border-radius: 0 !important;
  background-size: cover;
}

.order-modal .modal-dialog .modal-content .modal-header .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.order-modal .modal-dialog .modal-content .modal-header h1 {
  font-size: 16px;
  font-weight: 600;
  color: #804314;
}

.order-modal .modal-dialog .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  padding: 0;
  gap: 20px;
}

.order-modal .modal-dialog .modal-content .modal-body > .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.order-modal .modal-dialog .modal-content .modal-body > .head h1 {
  font-size: 20px;
  font-weight: 600;
  color: #ee8d31;
}

.order-modal .modal-dialog .modal-content .modal-body > .head p {
  font-size: 13px;
  font-weight: 500;
  color: #7c7c7c;
  line-height: 20px;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: overlay;
  gap: 20px;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .head label,
.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .head h1 {
  font-size: 12px;
  font-weight: 500;
  color: #804314;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .head label span,
.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .head h1 span {
  color: #ee8d31;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group p {
  font-size: 11px;
  font-weight: 500;
  color: #7c7c7c;
  margin-top: 3px !important;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion {
  margin-top: 12px;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item {
  border: 1px solid #eeeeee;
  background: #ffff;
  border-radius: 6px;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-header .accordion-button {
  padding: 12px 16px;
  background: none;
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 500;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-header .accordion-button::after {
  width: 8px;
  height: 4px;
  background-image: url(../media/svg/accordion_dropdown.svg);
  background-size: contain;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-header .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 0px 16px 16px 16px;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .option-wrapper input {
  border: 1px solid #ee8d31;
  width: 16px;
  height: 16px;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .option-wrapper input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .option-wrapper input:hover, .order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .option-wrapper input:checked {
  background-size: 10px 10px;
  background-color: #ffff !important;
  cursor: pointer;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .option-wrapper input:checked[type="radio"] {
  background-image: url(../media/svg/radio_select.svg);
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .option-wrapper input:checked[type="checkbox"] {
  background-image: url(../media/svg/checkbox_select.svg);
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .option-wrapper label {
  font-size: 12px;
  color: #804314;
  font-weight: 500;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .quantity-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .quantity-count .quantity-btn {
  background: #ee8d31;
  color: #ffff;
  width: 26px;
  height: 26px;
  font-size: 16px;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .quantity-count .quantity-val {
  text-align: center;
  background: #ee8d31;
  border: none;
  color: #ffff;
  width: 26px;
  height: 26px;
  font-size: 13px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: default;
  -moz-appearance: textfield;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .quantity-count .quantity-val:focus {
  border: none;
  outline: none;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .quantity-count .quantity-val::-webkit-outer-spin-button, .order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .quantity-count .quantity-val::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .quantity-count .minus-btn {
  border-radius: 4px 0 0 4px;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .quantity-count .plus-btn {
  border-radius: 0 4px 4px 0;
}

.order-modal .modal-dialog .modal-content .modal-body .order-bowl .field-group .accordion .accordion-item .accordion-collapse .accordion-body .form-check .extra {
  font-size: 12px;
  color: #804314;
  font-weight: 500;
  display: none;
}

.order-modal .modal-dialog .modal-content .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: none;
}

.order-modal .modal-dialog .modal-content .modal-footer .model-footer-btn {
  background: #ee8d31;
  border-radius: 10px;
  padding: 12px 70px;
  color: #ffff;
  font-size: 14px;
  font-weight: 600;
}

.order-modal.fade .modal-dialog {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(367px, 0px) !important;
          transform: translate(367px, 0px) !important;
}

.order-modal.show .modal-dialog {
  -webkit-transform: none !important;
          transform: none !important;
}

.swal2-popup {
  width: 400px !important;
  border-radius: 10px !important;
}

.swal2-icon.swal2-success {
  border-color: #ee8d31 !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 4px solid rgba(128, 67, 20, 0.3) !important;
  border: 4px solid rgba(238, 141, 49, 0.3) !important;
}

.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: #ee8d31 !important;
}

.swal2-styled.swal2-confirm {
  border-radius: 10px !important;
}

.swal2-styled.swal2-confirm a {
  color: #ffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 40px;
}

.swal2-styled.swal2-confirm:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.swal2-title {
  font-size: 19px !important;
  font-weight: 600 !important;
  color: #804314 !important;
}

.swal2-html-container {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #7c7c7c !important;
}

.swal2-footer a {
  text-decoration: none;
  color: #7c7c7c;
  font-weight: 500;
  font-size: 14px;
}

.swal2-footer a:hover {
  color: #ee8d31;
}

.swal2-icon.swal2-question {
  color: #ee8d31 !important;
  border-color: #ee8d31 !important;
}

.swal2-icon.swal2-info {
  color: #ee8d31 !important;
  border-color: #ee8d31 !important;
}

.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 140px;
}

.testimonial-container .testimonial_bg {
  position: absolute;
  left: 0;
  top: -70px;
}

.testimonial-container .testimonial-inner .testimonial-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 210px;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial-container .testimonial-inner .testimonial-wrapper .wrapper-inner {
  width: 50%;
}

.testimonial-container .testimonial-inner .testimonial-wrapper .wrapper-inner .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 20px;
  cursor: -webkit-grab;
  cursor: grab;
}

.testimonial-container .testimonial-inner .testimonial-wrapper .wrapper-inner .testimonial .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.testimonial-container .testimonial-inner .testimonial-wrapper .wrapper-inner .testimonial .head .testimonial-pic {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-container .testimonial-inner .testimonial-wrapper .wrapper-inner .testimonial .head .testimonial-pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.testimonial-container .testimonial-inner .testimonial-wrapper .wrapper-inner .testimonial .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.testimonial-container .testimonial-inner .testimonial-wrapper .wrapper-inner .testimonial .details .description {
  font-size: 15px;
  color: #333;
  line-height: 30px;
  border-radius: 25px;
}

.testimonial-container .testimonial-inner .testimonial-wrapper .wrapper-inner .testimonial .details h2 {
  font-size: 14px;
  font-weight: 500;
  color: #804314;
}

@media only screen and (max-width: 479px) {
  .testimonial {
    padding: 20px 15px 40px;
  }
  .testimonial .description {
    padding: 0 5px 20px;
  }
}

.owl-theme .owl-controls {
  margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
  width: 12px !important;
  height: 6px !important;
  border-radius: 50%;
  background: #804314 !important;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.home-container .banner {
  position: relative;
}

.home-container .banner .home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  right: 0;
  left: 0;
  position: absolute;
  top: 25px;
  z-index: 10;
}

.home-container .banner .home-header .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 10px;
}

.home-container .banner .home-header .cart-btn .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #804314;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  right: -10px;
  top: -8px;
  border: 2px solid #ee8d31;
}

.home-container .banner .home-header .cart-btn .count h1 {
  color: #ffff;
  font-size: 14px;
}

.home-container .banner .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.home-container .banner .banner-content .content {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  z-index: 40;
}

.home-container .banner .banner-content .content .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  left: 0;
  margin-bottom: 50px;
  z-index: 20;
}

.home-container .banner .banner-content .content .content-inner h1 {
  font-size: 35px;
  font-weight: 600;
  color: #804314;
}

.home-container .banner .banner-content .content .content-inner h2 {
  color: #ee8d31;
  font-size: 32px;
  font-weight: 500;
}

.home-container .banner .banner-content .content .content-inner button {
  margin-top: 35px;
}

.home-container .banner .banner-content .banner-img-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.home-container .banner .banner-content .banner-img-main .banner-img {
  position: absolute;
  z-index: 10;
  top: 100px;
  right: 65px;
  border-radius: 50%;
  border: 7px solid #ee8d31;
}

.home-container .banner .banner-img-bg-light {
  position: absolute;
  top: 200px;
}

.home-container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home-container .about .about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-container .about .about-inner .about-img,
.home-container .about .about-inner .content {
  width: calc(100% / 2 - 10px);
}

.home-container .about .about-inner .about-img {
  z-index: 20;
}

.home-container .about .about-inner .about-img img {
  width: -webkit-fill-available;
}

.home-container .about .about-inner .about-img .about-img2 {
  display: none;
}

.home-container .about .about-inner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.home-container .about .about-inner .content h1 {
  font-size: 38px;
  font-weight: 500;
  color: #804314;
}

.home-container .about .about-inner .content h1 span {
  color: #ee8d31;
}

.home-container .about .about-inner .content p {
  color: #7c7c7c;
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
}

.home-container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

.home-container .cards .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.home-container .cards .cards-wrapper .benefit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 220px;
  max-width: 350px;
  min-height: 250px;
  max-height: 250px;
  padding: 40px 30px 0 30px;
  border: 2px solid #eeeeee;
  border-radius: 40px;
  gap: 30px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
          box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

.home-container .cards .cards-wrapper .benefit-card .img-wrapper {
  background: #fdf1e6;
  padding: 14px;
  border-radius: 50%;
}

.home-container .cards .cards-wrapper .benefit-card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.home-container .cards .cards-wrapper .benefit-card .content h1 {
  font-size: 18px;
  color: #804314;
  text-align: center;
}

.home-container .cards .cards-wrapper .benefit-card .content p {
  color: #7c7c7c;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.06em;
}

.home-container .cards .cards-wrapper .benefit-card:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  border: 2px solid #ffff;
  -webkit-box-shadow: 0px 7px 31px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 31px rgba(0, 0, 0, 0.1);
}

.home-container .call-out-container {
  position: relative;
}

.home-container .call-out-container img {
  position: absolute;
  right: 0;
  top: -150px;
  z-index: 20;
}

.home-container .call-out-container .call-out-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 180px;
  background: #fdf1e6;
  border-radius: 40px;
  padding: 60px 0;
  gap: 40px;
}

.home-container .call-out-container .call-out-inner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.home-container .call-out-container .call-out-inner .content h1 {
  text-transform: uppercase;
  text-align: center;
  color: #ee8d31;
  font-size: 30px;
  font-weight: 600;
}

.home-container .call-out-container .call-out-inner .content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #804314;
  font-weight: 600;
}

.home-container section > .head,
.home-container .testimonial-inner > .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.home-container section > .head h3,
.home-container .testimonial-inner > .head h3 {
  color: #ee8d31;
  font-size: 14px;
  font-weight: 500;
}

.home-container section > .head h1,
.home-container .testimonial-inner > .head h1 {
  color: #804314;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.cart-container header {
  background: #ffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  padding: 16px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 30;
}

.cart-container header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-container header .header-inner .back-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.cart-container header .header-inner .back-page h1 {
  font-size: 14px;
  font-weight: 500;
  color: #804314;
}

.cart-container header .header-inner .build-bowl-btn {
  padding: 16px;
  font-size: 14px;
}

.cart-container header .header-inner .build-bowl-btn-small {
  display: none;
}

.cart-container .page-content {
  padding: 30px 0;
}

.cart-container .page-content .cart-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.cart-container .page-content .cart-body .box-style {
  background: #ffff;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
}

.cart-container .page-content .cart-body .cart-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-container .page-content .cart-body .cart-summary .head .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.cart-container .page-content .cart-body .cart-summary .head .breadcrumbs a {
  color: #804314;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.cart-container .page-content .cart-body .cart-summary .head .breadcrumbs span {
  color: #ee8d31;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper {
  overflow: overlay;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table {
  border-spacing: 0 10px;
  width: 100%;
  border-collapse: separate;
  margin-top: 16px;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table tr {
  border-radius: 10px;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table tr th {
  font-size: 16px;
  font-weight: 500;
  color: #804314;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table tr td,
.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table tr th {
  text-align: left;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table tr td {
  font-size: 14px;
  color: #7c7c7c;
  font-weight: 500;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-head th:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-head th:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row {
  background: #ffffff;
  border-radius: 10px;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row td {
  border-collapse: separate;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row td:first-child {
  border-radius: 10px 0 0 10px;
  padding-left: 20px;
  border-left: 1px solid #eeeeee;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row td:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #eeeeee;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row .amount {
  color: #ee8d31;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row .actions button {
  border: none;
  background: none;
  padding: 0 8px;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row .actions button svg path {
  fill: #7c7c7c;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row .actions button:hover svg path {
  fill: #804314;
}

.cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table .table-row .actions button:focus {
  outline: none;
}

.cart-container .page-content .cart-body .order-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  padding-right: 0;
}

.cart-container .page-content .cart-body .order-details .delivery-details .head h1,
.cart-container .page-content .cart-body .order-details .checkout-details .head h1 {
  color: #804314;
  font-size: 16px;
  font-weight: 500;
}

.cart-container .page-content .cart-body .order-details .delivery-details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-top: 25px;
}

.cart-container .page-content .cart-body .order-details .delivery-details form .field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.cart-container .page-content .cart-body .order-details .delivery-details form .field-group label {
  font-size: 14px;
  font-weight: 500;
  color: #804314;
}

.cart-container .page-content .cart-body .order-details .delivery-details form .field-group label span {
  color: #ee8d31;
}

.cart-container .page-content .cart-body .order-details .delivery-details form .field-group input,
.cart-container .page-content .cart-body .order-details .delivery-details form .field-group textarea {
  width: 100%;
  color: #804314;
  font-size: 13px;
  font-weight: 500;
  text-indent: 12px;
  padding: 12px 0;
  background: #ffff;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  -moz-appearance: textfield;
}

.cart-container .page-content .cart-body .order-details .delivery-details form .field-group input:focus,
.cart-container .page-content .cart-body .order-details .delivery-details form .field-group textarea:focus {
  border: 1px solid #ee8d31;
  outline: none;
}

.cart-container .page-content .cart-body .order-details .delivery-details form .field-group input::-webkit-outer-spin-button, .cart-container .page-content .cart-body .order-details .delivery-details form .field-group input::-webkit-inner-spin-button,
.cart-container .page-content .cart-body .order-details .delivery-details form .field-group textarea::-webkit-outer-spin-button,
.cart-container .page-content .cart-body .order-details .delivery-details form .field-group textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart-container .page-content .cart-body .order-details .delivery-details form .field-group textarea {
  padding: 12px;
  text-indent: unset;
  resize: vertical;
}

.cart-container .page-content .cart-body .order-details .checkout-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  gap: 8px;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .general-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .general-details .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .general-details .detail h1 {
  font-size: 14px;
  font-weight: 500;
  color: #804314;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .general-details .detail span {
  font-size: 13px;
  font-weight: 500;
  color: #ee8d31;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .line {
  position: relative;
  border-top: 2px dashed #7c7c7c;
  height: 1px;
  width: 100%;
  margin: 8px 0;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .main-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .main-details .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .main-details .detail h1 {
  font-size: 14px;
  font-weight: 600;
  color: #804314;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .details-wrapper .main-details .detail span {
  font-size: 13px;
  font-weight: 600;
  color: #ee8d31;
}

.cart-container .page-content .cart-body .order-details .checkout-details .main .checkout-btn {
  background: #ee8d31;
  border-radius: 10px;
  padding: 12px 70px;
  color: #ffff;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-fixed {
  padding: 16px 0;
  background: #ffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 50;
  top: 0;
  display: none;
}

.header-fixed .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-fixed .header-inner nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.header-fixed .header-inner nav .build-bowl-btn {
  padding: 16px;
  font-size: 14px;
}

.header-fixed .header-inner nav .build-bowl-btn-small {
  display: none;
}

.header-fixed .header-inner nav .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 10px;
}

.header-fixed .header-inner nav .cart-btn .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #804314;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  right: -10px;
  top: -8px;
  border: 2px solid #ffff;
}

.header-fixed .header-inner nav .cart-btn .count h1 {
  color: #ffff;
  font-size: 14px;
}

footer {
  background: #804314;
  margin-top: 40px;
  width: 100%;
}

footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0;
  gap: 5px;
}

footer .footer-inner h1 {
  font-size: 14px;
  font-weight: 400;
  color: #ffff;
}

footer .footer-inner h1 a {
  color: #ee8d31;
  font-weight: 600;
  text-decoration: none;
}

.footer-cart {
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 850px !important;
  }
}

@media only screen and (max-width: 1310px) {
  .home-container .banner .banner-content .banner-img-main .banner-img {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .home-container .banner .home-header {
    position: unset;
  }
  .home-container .banner .banner-content .content .content-inner {
    width: 400px;
  }
  .home-container .banner .banner-content .content .content-inner h1 {
    font-size: 30px !important;
  }
  .home-container .banner .banner-content .content .content-inner h2 {
    font-size: 26px !important;
  }
  .home-container .banner .banner-content .banner-img-main .banner-img {
    position: unset;
    margin-right: -150px;
  }
  .home-container .banner .banner-content .banner-img-main .banner-img-bg {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .about .about-inner .about-img,
  .about .about-inner .content {
    width: calc(100% / 2 - 10px);
  }
  .about .about-inner .content h1 {
    font-size: 32px !important;
  }
  .about .about-inner .content p {
    font-size: 14px;
  }
  .cards {
    max-width: 890px !important;
  }
  .call-out-container .call-out-inner {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .header-fixed .header-inner nav .build-bowl-btn {
    display: none;
  }
  .header-fixed .header-inner nav .build-bowl-btn-small {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-fixed .header-inner nav .build-bowl-btn-small img {
    width: 14px;
  }
  .header-fixed .header-inner nav .build-bowl-btn-small:hover {
    border: 2px solid #ffff;
  }
  .about .about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-inner .about-img1 {
    display: none;
  }
  .about .about-inner .about-img2 {
    display: unset !important;
  }
  .about .about-inner .about-img,
  .about .about-inner .content {
    width: 100% !important;
  }
  .about .about-inner .about-img {
    padding: 70px;
  }
  .about .about-inner .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-inner .content h1,
  .about .about-inner .content p {
    text-align: center;
  }
}

@media only screen and (max-width: 660px) {
  .about .about-inner .about-img {
    padding: 20px;
  }
  .about .about-inner .content h1 {
    font-size: 28px !important;
  }
  .about .about-inner .content p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .about .about-inner {
    padding: 0 20px;
  }
  .call-out-container {
    padding: 0 12px !important;
  }
  .call-out-container .call-out-inner .content h1 {
    font-size: 24px !important;
  }
  .call-out-container .call-out-inner .content h2 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 992px) {
  #header-cart-fixed .header-inner {
    max-width: 100%;
  }
  .cart-container .page-content {
    max-width: 100%;
    margin: 0 auto;
  }
  .cart-container .page-content .cart-body {
    margin: auto;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #header-cart-fixed .header-inner {
    max-width: 100%;
  }
  .cart-container .page-content {
    max-width: 740px;
    margin: 0 auto;
  }
  .cart-container .page-content .cart-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    max-width: 740px;
    row-gap: 20px;
  }
  .cart-container .page-content .cart-body .order-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .cart-container .page-content .cart-body .order-details .delivery-details,
  .cart-container .page-content .cart-body .order-details .checkout-details {
    width: calc(100% / 2);
  }
  .cart-container .page-content .cart-body .order-details .checkout-details {
    height: inherit;
  }
  .cart-container .page-content .cart-body .order-details .checkout-details .main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .cart-container .page-content .cart-body .order-details .checkout-details .main .checkout-btn {
    margin: 0;
  }
}

@media only screen and (max-width: 660px) {
  #header-cart-fixed .header-inner .build-bowl-btn {
    font-size: 11px;
  }
  .cart-container .page-content .cart-body .cart-summary .cart-wrapper .cart-table {
    min-width: 600px;
  }
  .cart-container .page-content .cart-body .order-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-container .page-content .cart-body .order-details .delivery-details,
  .cart-container .page-content .cart-body .order-details .checkout-details {
    width: 100%;
  }
  .cart-container .page-content .cart-body .order-details .delivery-details .main .checkout-btn,
  .cart-container .page-content .cart-body .order-details .checkout-details .main .checkout-btn {
    margin-top: 30px;
  }
  footer .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-inner h1 {
    text-align: center;
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  #header-cart-fixed .header-inner .back-page h1 {
    display: none;
  }
  #header-cart-fixed .header-inner .build-bowl-btn {
    display: none;
  }
  #header-cart-fixed .header-inner .build-bowl-btn-small {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header-cart-fixed .header-inner .build-bowl-btn-small img {
    width: 12px;
  }
  #header-cart-fixed .header-inner .build-bowl-btn-small:hover {
    border: 2px solid #ffff;
  }
}

@media only screen and (max-width: 576px) {
  #order-modal .modal-dialog {
    margin: 0;
    left: 0;
    height: 87%;
    bottom: 0;
  }
  #order-modal .modal-dialog .modal-content {
    border-radius: 40px 40px 0 0;
    width: 100%;
  }
  #order-modal .modal-dialog .modal-content .modal-body {
    overflow: scroll;
  }
  .order-modal.fade .modal-dialog {
    -webkit-transform: translate(0, 752px) !important;
            transform: translate(0, 752px) !important;
  }
  .order-modal.show .modal-dialog {
    -webkit-transform: none !important;
            transform: none !important;
  }
}
/*# sourceMappingURL=styles.css.map */